

.nav-header{
    background-color: #272757;
}

.nav-header .navbar-brand,
.nav-header .nav-link,
.nav-header a {
    color: white !important;
}

.nav-header .btn-outline-primary {
    color: white !important;
    border-color: white !important;
}

.nav-header .btn-outline-primary:hover {
    background-color: white !important;
    color: #272757 !important;
}


.categories{
    background-color: #505081;
}

.categories li a{
    color: white !important;
}


.theme-products img:hover{
    transform: scaleX(-1);
    cursor: pointer;
}

.recently-viewed-section, .products-section{
     background-color: #8686AC;
}
.footer{
    background-color: #272757;
    color:white;
}